body{
    font-family: 'Rubik', sans-serif;
}

.about{
    font-size: 22px;
    font-weight: 300;
    color: grey;
    margin-bottom: 16px;
}

.avartar{
    width: 230px;
    height: 230px;
    margin-bottom: 40px;
    border-radius: 50%;
    object-fit: cover;
    object-position: bottom;
    box-shadow: 8px 8px 4px 4px black;
}

.button{
    background-color: black;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
}

.contact{
    margin-bottom: 24px;
}

.content{
    max-width: 400px;
}

.container{
    background-image: linear-gradient(to right,rgba(255,255,255,1),rgba(255,255,255,0.7)), url("https://images.unsplash.com/photo-1701962541409-e2c1256a8574?q=80&w=1632&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    padding: 128px;
}
@media screen and (max-width: 768px)  {
    .container{
        padding: 48px;
    }
}

.contact-icon{
    margin-right: 12px;
    width: 16px;
}

.contact-item{
    margin-bottom: 4px;
}

.name{
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 24px;
}

@media screen and (max-width: 768px)  {
    .name{
        font-size: 8px;
    }
}

.job{
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 16px;
}


